{% extends 'base.html' %}
{% block title %}
Listagem de Responsáveis
{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">ID Aluno</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Celular</th>
            <th scope="col">Whats App</th>
            <th scope="col">Opções</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for responsavel in responsaveis %}
    <tbody>
        <tr>
            <td> {{ responsavel.resp_id_aluno }} </td>
            <td> {{ responsavel.resp_nome }}</td>
            <td> {{ responsavel.resp_fone_fixo }}</td>
            <td> {{ responsavel.resp_fone_celular }}</td>    
            <td> {{ responsavel.resp_whatsapp }}</td>    
            <td>
                <button class="btn btn-outline btn-info">Alterar</button>
            </td>
            <td>
                <button class="btn btn-outline btn-info">Excluir</button>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}