{% extends 'base.html' %}


{% block title %}
Novo Professor
{% endblock %}


{% block content %}

<body class="text-center">


    <div class="box">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Informe os Dados do Professor
            </h1>
            <br>
            <table align="center">
                <tr>
                    <!--      -->
                    <td align="right">{{ form.prof_nome.label()}}</td>
                    <td align="left">{{ form.prof_nome(class="form-control", placeholder="Nome do Professor")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.prof_funcao.label()}}</td>
                    <td align="left">{{ form.prof_funcao(class="form-control", placeholder="Função exercida")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.prof_telefone.label()}}</td>
                    <td align="left">{{ form.prof_telefone(class="form-control", placeholder="Telefone")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.prof_celular.label()}}</td>
                    <td align="left">{{ form.prof_celular(class="form-control", placeholder="Celular/WhatsApp")}}</td>
                </tr>

                <tr>
                    <!--   Botao   -->
                    <td></td>
                    <td align="left">{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</td>
                </tr>
            </table>
            <br>



        </form>
    </div>
</body>
{% endblock %}