{% extends 'base.html' %}


{% block title %}
Novo Componente
{% endblock %}


{% block content %}

<body class="text-center">


    <div class="box">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Informe os Dados do Componente Familiar
            </h1>
            <br>
            <table align="center">
                <tr>
                    <!--      -->
                    <td align="right">{{ form.comp_id_aluno.label()}}</td>
                    <td align="left">{{ form.comp_id_aluno(class="form-control", placeholder="Nome do Aluno")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.comp_nome.label()}}</td>
                    <td align="left">{{ form.comp_nome(class="form-control", placeholder="Nome do Componente")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.comp_escolaridade.label()}}</td>
                    <td align="left">{{ form.comp_escolaridade(class="form-control", placeholder="Escolaridade")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td align="right">{{ form.comp_parentesco.label()}}</td>
                    <td align="left">{{ form.comp_parentesco(class="form-control", placeholder="Parentesco")}}</td>
                </tr>
                <tr>
                    <!--      -->
                    <td></td>
                    <td align="left">{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</td>
                </tr>
            </table>
            <br>



        </form>
    </div>
</body>
{% endblock %}